* {
  margin-right: 8px;
}

.section {
  min-height: 100vh;
  text-align: left;
}

.addItem {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid gray;
}

.taskList {
  padding: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid gray;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

button {
  padding: 4px 8px;
}

p {
  margin: 0 8px 0;
}
